@mixin translateParams ($width, $height) {
    $vh-context: (1080*0.01) * 1px;
    $vw-context: (1920*0.01) * 1px;
    height: ($height/$vh-context) * 1vh;
    width: (($height/$vw-context) * 1vw)
}

.task5Square {
    background-color: green;
    @include translateParams(150px, 150px)
} 